<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTribe"
        tools:targetApi="31">
        <activity
            android:name=".Student.Developer_Contact.Developer_Contact_Activity"
            android:exported="false" />
        <activity
            android:name=".Student.About_Us.About_Us_Activity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Student.Terms_Condition.Terms_Condition_Activity"
            android:exported="false" />
        <activity
            android:name=".Student.Privacy_Policy.Privacy_Policy_Activity"
            android:exported="false" />
        <activity
            android:name=".Student.AddButton.Project.Add_Project_Activity"
            android:exported="false" />
        <activity
            android:name=".Student.AddButton.Event.Add_Event_Activity"
            android:exported="false" />
        <activity
            android:name=".Student.Home.RealtimeImageLabelingActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ica" />

        <activity
            android:name=".Student.AddButton.Community.Add_Community_Activity"
            android:exported="true" />
        <activity
            android:name=".Student.Student_Dashboard.Home_Page"
            android:exported="false" />
        <activity
            android:name=".Student.Authentication.Forgot_Password_Activity"
            android:exported="false" />
        <activity
            android:name=".Student.Authentication.Login_Activity"
            android:exported="true" />
        <activity
            android:name=".Student.Authentication.Register_Activity"
            android:exported="false" />
        <activity
            android:name=".Student.Splash_Sceen.Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>